:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: darkgray;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent2-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header, footer {
    background-color: lightgray;
    border: 1px solid black;
    align-items: center;
}

header img {
    float: left;
}

footer {
    display: flex;
    justify-content: right;
}

footer nav a {
    padding: 10px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: white;
}

nav, p, section, article {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 16px;
    padding: 8px;
}

article, section {
    position: relative;
    color: var(--secondary-color);
}

figure img {
    width: 125px;
    height: auto;
}

/* Class declarations */

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero article {
    position: absolute;
    top: 200px;
    color: black;
    background-color: rgba(128, 128, 128, 0.632);
}

.hero img {
    display: block;
    width: 100%;  
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.gallery h2 {
    grid-column: 1 / 6;
    justify-content: center;
}

.gallery figure {
    padding: 10px;
}

.history {
    display: grid;
    grid-template-columns: 1fr;
}

.history h2 {
    grid-column: 1 / 6;
    justify-content: center;
}