:root {
    --border: 1px solid black;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: roboto, arial, sans-serif;
}

main {
    max-width: 10000px;
    grid-column: 2/3;
    margin: 1rem  
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 10px;
    box-shadow: 0 0 20px;
    float: right;
    margin: 0 0 1rem 1rem;
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

h1 {
    color: darkblue;
    padding: .5rem;
    border-bottom: var(--border);
}

p {
    padding: 0;
    margin: 1rem;
}

aside {
    margin: 10px; 
    border: var(--border);
    padding: 10px;
    background-color: lightblue;
    color: black;
    position: relative;
    width: 20rem;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
    margin-top: 50px;
}

aside h2 {
    position: absolute;
}

img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

header, .grid, footer {
    margin-top: 10px;
    border-top: 1px dashed grey;
    text-align: center;
    max-width: 840px;
}

/* class selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: lightgrey;
    color: black;
}

.indent {
    padding-left: 2rem;
}

.grid {
  display: grid;
  align-items: center;
}
 