body {
    text-align: center;
}

main {
    max-width: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 0 0 20px;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

p {
    padding: 0;
}

aside {
    width: auto;
    margin: 10px; 
    border: 1px solid black;
    padding: 10px;
    background-color: lightblue;
    color: black;
}

aside img {
    width: 200px;
    height: auto;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

footer {
    margin-top: 10px;
    border-top: 1px dashed grey;
    text-align: center;
}