.callout {
	background-color: #247;
    color: white;
    max-width: 400px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, .1);
    margin: 10px;
}

.callout img {
	float: right;
    margin: 0 0 10px 15px;
    border: 1px solid black;
    padding: 3px;
    background-color: lightgrey;
    width: 100;
    height: auto;
}

blockquote {
	margin: 8px;
}

cite {
	display: block;
    border-top: 1px dotted white;
    padding-top: 3px;
    text-align: right;
    font-size: smaller;
}